@model ShoppingCartViewModel
@{
    ViewData["Title"] = "Shopping Cart";
}
<form method="post">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">
                        Shopping Cart
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-1 pb-1">
                <div class="col-md-2 offset-md-1 my-4">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary bg-gradient fw-bold btn-sm text-uppercase">
                        <span class="small">Continue Shopping</span>
                    </a>
                </div>
                @foreach (var item in Model.ShoppingCartItems)
                {
                    <div class="col-md-10 offset-md-1">
                        <div class="row border-bottom pb-1">
                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                <img src="@item.Product.ImagePath" class="rounded img-fluid" />
                            </div>
                            <div class="col-12 col-lg-6 pt-md-3">
                                <h5 class="text-dark text-opacity-50"><strong>@item.Product.Name</strong></h5>
                                <p><small>@Html.Raw(item.Product.Description)</small></p>
                            </div>
                            <div class="col-12  col-lg-5 text-center row">
                                <div class="col-3 text-md-right pt-2 pt-md-4">
                                    <h6 class="fw-semibold">
                                        @item.Product.UnitPrice.ToString("c")
                                        <span class="text-muted">&nbsp;x&nbsp;</span>@item.Quantity
                                    </h6>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-action="UpdateOrRemoveShoppingCartItem" asp-route-id="@item.Id" asp-route-change="1" class="btn btn-outline-primary bg-gradient py-2">
                                            <i class="bi bi-plus-square"></i>
                                        </a> &nbsp;
                                        <a asp-action="UpdateOrRemoveShoppingCartItem" asp-route-id="@item.Id" asp-route-change="-1" class="btn btn-outline-primary bg-gradient py-2">
                                            <i class="bi bi-dash-square"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                    <a asp-action="UpdateOrRemoveShoppingCartItem" asp-route-id="@item.Id" asp-route-change="0" class="btn btn-danger bg-gradient py-2 ">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="card-footer bg-white border-0">
                <div class="row">
                    <div class="col-md-3 offset-md-7">
                        <ul class="list-group mb-2">
                            <li class="d-flex justify-content-between align-items-center">
                                <p class="text-info fw-semibold text-uppercase fs-6">Total</p>
                                <p class="text-info fw-bolder fs-6">@Model.Total.ToString("c")</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 offset-md-7">
                        <a href="#" class="btn btn-primary border-0 bg-gradient w-100 py-2 fw-semibold text-uppercase">Summary</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
