@model OrderViewModel

@{
	ViewData["Title"] = "Order Confirmation";
}
 
<div class="container row mt-4">
    <div class="bg-info bg-gradient text-light py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white text-uppercase">
                    Order Confirmation
                </h3>
            </div>
        </div>
    </div>
	<div class="row mt-4">
		<div class="col-12 text-end">
			<a onclick="window.print()" class="btn btn-outline-secondary fw-bold text-uppercase btn-sm" >Print Confirmation</a>
		</div>
	</div>
	<div class="row mt-4 mb-5">
		<div class="col-6">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-info">Shipping Details:</span>
			</h4>

			<div class="row">
				<div class="col-12">
					<strong>Order Number:</strong> @Model.Order.Id
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>Name:</strong> @Model.Order.Name
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>Phone:</strong> @Model.Order.PhoneNumber
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>Street Address:</strong> @Model.Order.StreetAddress
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>City:</strong> @Model.Order.City
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>Province:</strong> @Model.Order.Province
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<strong>Postal Code:</strong> @Model.Order.PostalCode
				</div>
			</div>
		</div>
		<div class="col-6">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-info">Order Summary:</span>
			</h4>

			<ul class="list-group mb-3">
				@foreach (var item in Model.OrderDetails)
				{
					<li class="list-group-item d-flex justify-content-between">
						<div>
							<h6 class="my-0">@item.Product.Name</h6>
							<small class="text-muted">Quantity: @item.Quantity</small>
						</div>
						<span class="text-muted">@((item.Product.UnitPrice * item.Quantity).ToString("c"))</span>
					</li>
				}

				<li class="list-group-item d-flex justify-content-between bg-light">
					<small class="text-info">Total</small>
					<strong class="text-info">@Model.Order.Total.ToString("c")</strong>
				</li>
			</ul>
		</div>
	</div>
    
</div>



