@model OrdersViewModel

@{
    ViewData["Title"] = "Order Details";
}

<form method="post">
    <br />
    <div class="container">
        <div class="card shadow border-0 mt-4">
            <div class="card-header bg-secondary bg-gradient text-light py-4">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="text-white text-uppercase">Order Summary</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-3 my-4 ps-2">
                    <a asp-controller="Orders" asp-action="Index" class="btn btn-outline-secondary fw-bold btn-sm text-uppercase px-5">
                        <small>Back To Orders</small>
                    </a>
                </div>
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h3 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Pick Up Details:</span>
                                </h3>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    <input asp-for="Order.Name" type="text" class="form-control" />
                                    <span asp-validation-for="Order.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    <input asp-for="Order.PhoneNumber" type="text" class="form-control" />
                                    <span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">
                                    <input asp-for="Order.StreetAddress" type="text" class="form-control" />
                                    <span asp-validation-for="Order.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">City</div>
                                <div class="col-9">
                                    <input asp-for="Order.City" type="text" class="form-control" />
                                    <span asp-validation-for="Order.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">State</div>
                                <div class="col-9">
                                    <input asp-for="Order.Province" type="text" class="form-control" />
                                    <span asp-validation-for="Order.Province" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Postal Code</div>
                                <div class="col-9">
                                    <input asp-for="Order.PostalCode" type="text" class="form-control" />
                                    <span asp-validation-for="Order.PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    <input asp-for="Order.User.Email" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    <input value="@Model.Order.CreationDate.ToShortDateString()" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Carrier</div>
                                <div class="col-9">
                                    <input id="carrier" asp-for="Order.Carrier" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Tracking</div>
                                <div class="col-9">
                                    <input id="trackingNumber" asp-for="Order.TrackingNumber" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Shipping Date</div>
                                <div class="col-9">
                                    <input value="@Model.Order.ShippingDate.ToShortDateString()" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Session ID</div>
                                <div class="col-9">
                                    <input asp-for="Order.PaymentSessionId" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Intent ID</div>
                                <div class="col-9">
                                    <input asp-for="Order.PaymentIntentId" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Date</div>
                                <div class="col-9">
                                    <input value="@Model.Order.PaymentDate.ToShortDateString()" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Status</div>
                                <div class="col-9">
                                    <input asp-for="Order.PaymentStatus" type="text" class="form-control" disabled />
                                </div>
                            </div>

                            <button type="submit" class="btn btn-warning form-control" asp-action="Update">Update Order Details</button>

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h3 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h3>
                            <p class="text-dark bg-primary-subtle py-2 ps-4">Order Status - @Model.Order.Status</p>

                            <ul class="list-group mb-3">
                                @foreach (var orderDetail in Model.OrderDetails)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">
                                                <h6 class="my-0 text-primary">@orderDetail.Product.Name</h6>
                                                <small class="text-muted">Price: @orderDetail.Price.ToString("c")</small>
                                                <small class="text-muted">Quantity: @orderDetail.Quantity</small>
                                            </div>
                                            <div class="col-4">
                                                <p class="text-dark text-end">@((orderDetail.Price * orderDetail.Quantity).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                }

                                <li class="list-group-item bg-info">
                                    <div class="row container">
                                        <div class="col-6 p-0">
                                            <h5 class="text-white">TOTAL</h5>
                                        </div>
                                        <div class="col-6 p-0">
                                            <h5 class="text-end text-white">@Model.Order.Total.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            @if (Model.Order.Status == OrderStatus.StatusApproved)
                            {
                                <input type="submit" class="btn btn-primary form-control my-1" value="Start Processing" asp-action="Process" />
                            }

                            @if (Model.Order.Status == OrderStatus.StatusProcessing)
                            {
                                <input type="submit" class="btn btn-primary form-control my-1 js-validate-shipping" value="Ship Order" asp-action="Ship" />
                            }

                            @if (Model.Order.Status != OrderStatus.StatusCancelled
                            && Model.Order.Status != OrderStatus.StatusShipped)
                            {
                                <input type="submit" class="btn btn-danger form-control my-1" value="Cancel Order" asp-action="Cancel" />
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>