@{
    ViewData["Title"] = "Orders";
}

<div class="container p-3">
    <div class="row d-flex justify-content-between pt-4">
        <div class="p-2">
            <h2 class="text-primary text-start">@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-7 offset-5">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item" data-status="All">
                    <a class="fw-semibold text-uppercase" asp-controller="Orders" asp-action="Index" asp-route-status="All">
                        All
                    </a>
                </li>
                <li class="list-group-item" data-status="@OrderStatus.StatusApproved">
                    <a class="fw-semibold text-uppercase" asp-controller="Orders" asp-action="Index" asp-route-status="@OrderStatus.StatusApproved">
                        @OrderStatus.StatusApproved
                    </a>
                </li>
                <li class="list-group-item" data-status="@OrderStatus.StatusProcessing">
                    <a class="fw-semibold text-uppercase" asp-controller="Orders" asp-action="Index" asp-route-status="@OrderStatus.StatusProcessing">
                        @OrderStatus.StatusProcessing
                    </a>
                </li>
                <li class="list-group-item" data-status="@OrderStatus.StatusShipped">
                    <a class="fw-semibold text-uppercase" asp-controller="Orders" asp-action="Index" asp-route-status="@OrderStatus.StatusShipped">
                        @OrderStatus.StatusShipped
                    </a>
                </li>
                <li class="list-group-item" data-status="@OrderStatus.StatusCancelled">
                    <a class="fw-semibold text-uppercase" asp-controller="Orders" asp-action="Index" asp-route-status="@OrderStatus.StatusCancelled">
                        @OrderStatus.StatusCancelled
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered" id="Orders">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Status</th>
                <th>Total</th>
            </tr>
        </thead>
    </table>

@section Scripts {
    <script src="~/js/orders/orders.js"></script>
}