@model OrdersViewModel

@{
    ViewData["Title"] = "Order Details";
}

<form method="post">
    <br />
    <div class="container">
        <div class="card shadow border-0 mt-4">
            <div class="card-header bg-secondary bg-gradient text-light py-4">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="text-white text-uppercase">Order Summary</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-3 my-4 ps-2">
                    <a asp-controller="Orders" asp-action="Index" class="btn btn-outline-secondary fw-bold btn-sm text-uppercase px-5">
                        <small>Back To Orders</small>
                    </a>
                </div>
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h3 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Shipping Details:</span>
                                </h3>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <span class="fw-bold">Name</span>
                                </div>
                                <div class="col-9">
                                    <label>@Model.Order.Name</label>
                                </div> 
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <span class="fw-bold">Phone</span>
                                </div>
                                <div class="col-9">
                                    <label>@Model.Order.PhoneNumber</label>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <span class="fw-bold">Address</span>
                                </div>
                                <div class="col-9">
                                    <label>@Model.Order.StreetAddress</label>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <span class="fw-bold">City</span>
                                </div>
                                <div class="col-9">
                                    <label>@Model.Order.City</label>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <span class="fw-bold">Province</span>
                                </div>
                                <div class="col-9">
                                    <label>@Model.Order.Province</label>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <span class="fw-bold">Postal Code</span>
                                </div>
                                <div class="col-9">
                                    <label>@Model.Order.PostalCode</label>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <span class="fw-bold">Email</span>
                                </div>
                                <div class="col-9">
                                    <label>@Model.Order.User.Email</label>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <span class="fw-bold">Order Date</span>
                                </div>
                                <div class="col-9">
                                    <label>@Model.Order.CreationDate.ToShortDateString()</label>
                                </div>
                            </div>

                            @if (Model.Order.Status == OrderStatus.StatusShipped)
                            {
                                <div class="row my-1">
                                    <div class="col-3">
                                        <span class="fw-bold">Carrier</span>
                                    </div>
                                    <div class="col-9">
                                        <label>@Model.Order.Carrier</label>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <span class="fw-bold">Tracking</span>
                                    </div>
                                    <div class="col-9">
                                        <label>@Model.Order.TrackingNumber</label>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <span class="fw-bold">Shipping Date</span>
                                    </div>
                                    <div class="col-9">
                                        <label>@Model.Order.ShippingDate.ToShortDateString()</label>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row my-1">
                                    <div class="col-3">
                                        <span class="fw-bold">Shipping Date</span>
                                    </div>
                                    <div class="col-9">
                                        <label>Not Yet Shipped</label>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h3 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h3>
                            <p class="text-dark bg-primary-subtle py-2 ps-4">Order Status - @Model.Order.Status</p>

                            <ul class="list-group mb-3">
                                @foreach (var orderDetail in Model.OrderDetails)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">
                                                <h6 class="my-0 text-primary">@orderDetail.Product.Name</h6>
                                                <small class="text-muted">Price: @orderDetail.Price.ToString("c")</small>
                                                <small class="text-muted">Quantity: @orderDetail.Quantity</small>
                                            </div>
                                            <div class="col-4">
                                                <p class="text-dark text-end">@((orderDetail.Price * orderDetail.Quantity).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                }

                                <li class="list-group-item bg-info">
                                    <div class="row container">
                                        <div class="col-6 p-0">
                                            <h5 class="text-white">TOTAL</h5>
                                        </div>
                                        <div class="col-6 p-0">
                                            <h5 class="text-end text-white">@Model.Order.Total.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>